/*---------- Menu login ---------------------------------*/
body {
  font-family: "helvetica";
}


#window {
    padding : 0px;
    width : 300px; height : 200px;
    background-color: white;
    position : relative;
    font-size : small;
    margin-left: 450px;
    margin-top: 150px;
    border-right: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
}

#window div:last-of-type p {
    margin : 0px;
    padding-left : 10px;
    margin-top : 5px;
}

#window div:first-child p {
    height : 20px;
    margin : 0px;
    padding : 10px 0px 10px 0px;
    background-color: #aaaaaa;
    text-align: center;
}

#window div:first-child {
    width : 300px; height : 20px;   
    position : absolute;
    top : 0px;
}

#window div:last-child {
    width : 300px; height : 50px;
    position : absolute;
    bottom : 0px;
    background-color: #aaaaaa;
}

#window #ok {
    width : 75px; height : 25px;
    position : absolute;
    bottom : 10px;
    right : 10px;
    background-color: #666285;
    color : white;
    border : -moz-use-text-color;
}

#window #inputs {
    position : relative;
    width : 264px;
    top : 60px;
    left : 15px;
}

#window #inputs input{
    padding : 5px;
    width : 250px;
    border : #aaaaaa;
    border-radius : 10px;
    background-color: #aaaaaa;
}

#inputs input:last-child {
    margin-top : 20px;
}

a {
    color : black;
    text-decoration: none;
}