/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 oct. 2015, 12:00:11
    Author     : rebirthxiii
*/

body {
    width : 1200px;
    margin : auto;
    background-color: white;
    font-family : "helvetica";
}

div h3 {
    display : inline-block;
}

/*-------------------- Mise en forme du menu ----------------------------------*/

header nav {
    position : relative;
    width : 1200px; height : 90px;

    font-size: medium;
}

nav ul li {
    display : inline-block;
}

li a {
    padding : 10px 20px;
    text-decoration: none;
    border : 1px solid black;
    color : black;
}

ul {
    padding-left : 0px;
    text-align: center;
}

li a:hover {
    background-color: #aaaaaa;
    color : white;
}

li a:visited {
    color : black;
}
.log{
    border : 1px solid black;
    padding : 20px;
    background-color: white;
}

.log th {
    width : 300px;
    border : none;
    border-bottom: 1px solid black;
}

/*------------ Mise en forme des articles ------------------------------------*/

section {
    background-color: brown;
    padding : 50px;
}

article img {
    width : 30%; height : 30%;
    float : left;
    margin-right: 30px;
}

article p {
    padding : 5px;
}

article a {
    text-decoration: none;
    color : blue;
}

article a:visited {
    color : blue;
}

section img {
    width : 30%; height : 30%;
    display : inline-block;
    margin : 5px;
}

footer form:first-child {
    position : absolute;
    top : 30%;
    left : 0%;
}

footer form:last-child {
    position : absolute;
    top : 30%;
    right : 0%    
}

/*----------------------- Formulaires ----------------------------------------*/


/*----------------------- Nouvelle -------------------------------------------*/

#nouvelle{
    background-color: white;
    padding : 5%;
}

#nouvelle p {
    clear : none;
    font-family: sans-serif;
    font-size: medium;
}

#nouvelle a {
    clear : right;
    font-size: small;
}

/*----------------------- Categories -----------------------------------------*/

#categories form, #categories input {
    display: inline-block;
    margin: 0px;
    padding : 5px;
}

#categories {
    width : 1000px;
    margin : auto;
}

/*----------------------- tableaux -------------------------------------------*/

#usersTab {
    width : 1000px;
    border : 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

#usersTab td, th {
    border : 1px solid black;
    padding : 5px 8px;
}

#usersTab th {
    background-color: darkgray;
}

#usersTab td {
    background-color: window;
}

#usersTab input {
    border : 1px solid black;
    border-radius: 5px;
    text-align: left;
}

.textInput {
    width : 120px;
}

.abo {
    width : 1000px;
    border : 1px solid black;
    border-collapse: collapse;
    text-align: center;
    margin-top : 10px;
}

.abo tr td:last-child, .abo th:last-child {
    width : 150px;
}

.abo tr td:first-child, .abo th:first-child{
    width : 500px;
}

.abo td, .abo th {
    border : 1px solid black;
    padding : 5px 8px;    
}

.abo th {
    background-color: darkgray;
}

.abo td {
    background-color: window;
}

.abo input {
    border : 1px solid black;
    border-radius: 5px;
    text-align: left;
}

#perso input {
    border : 1px solid black;
    border-radius: 5px;
    text-align: left;
}

#perso tr:last-child td:last-child input {
    width : 112px;
}

#perso tr:last-child td:last-child input:last-child {
    width : 70px;
}