<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title></title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <link rel="stylesheet" href="../Views/styles.css">
</head>
<body >
	
	<div id="page">
		<div id="menu">
			<nav>
				<ul>
					<li class="active" ><a href="../Views/index.html">Accueil</a></li>
					<li><a href="../Controler/afficher_flux.ctrl.php" >Mes flux</a></li>
                                        <li class="grandeTitre"><a href="../Controler/gerer_abonnements.ctrl.php?action=afficher" >Abonnements</a></li>
					<li class="grandeTitre"><a href="../Controler/logging.ctrl.php" >Deconnexion</a></li>
				</ul>
			</nav>
			<div id="recherche">
				<input id="search" type="text" />
			</div>
			<div id="Plus"></div>
	
		</div>
		
		<div id="banniere">
		
		</div>
		
		
			<div id="profils"></div>
			<div id="films">
				
                            <p>BIENVENUE !</p>
                            <p>Vous êtes actuellement sur un site de veille d'information personnalisée.</p>
                            <p>Abonnez vous à des flux, gérez les, et accédez aux nouvelles de vos sites favoris les plus fraîches !</p>
                                
                                
				
			
                        </div>
		<footer>
			
		</footer>
	</div>
</body>
</html>